.article-img img {
    width: 100%;
    height: auto;
}

.article-wraper {
    display: flex;
    flex-direction: column;
}

.article-page-img {
    margin-right: 20px;
    width: 200%;
}

.article-page-img img {
    width: 100%;
    height: auto;
}

.article-page-wraper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.article-category {
    border-radius: 15px;
    width: fit-content;
    padding: 0 10px;
}

.Style {
    background-color: yellowgreen;
}

.Weather {
    background-color: aqua;
}

.City {
    background-color: aquamarine;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border-color: #2E2AEA;
}

.btn a{
    text-decoration: none;
    color: #2E2AEA;
}