.article-list-item {
    border-color: #2d2aea41;
    box-shadow: -15px 15px 37px -20px rgba(45, 42, 234, 0.093);
    transition: 0.5s;
}

.article-list-item:hover {
    transform: scale(1.01, 1.01);
}

.article-img img {
    width: 100%;
    height: auto;
}

.article-wraper {
    display: flex;
    flex-direction: column;
}

.article-page-img {
    width: 200%;
}

.article-page-img img {
    width: 100%;
    height: auto;
}

.article-page-wraper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.article-category {
    border-radius: 15px;
    width: fit-content;
    padding: 0 10px;
}

.Style {
    background-color: yellowgreen;
}

.Weather {
    background-color: aqua;
}

.City {
    background-color: aquamarine;
}

.article-title a {
    text-decoration: none;
    color: #151F51;
}

.article-description {
    color: #151F51;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #151F51;
}

.btn {
    border-color: #2E2AEA;
}

.btn a{
    text-decoration: none;
    color: white;
}