.slider-style {
    margin: 70px 0;
}

.slyder-style-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: 0.4s;
    font-size: 16px;
    font-weight: regular;
    color: #131B43;
    background-color: #d828545b;
    padding: 2px 10px;
    box-shadow:
        10px 10px 40px -5px rgba(216,40,83,0.2);
}

.slyder-style-btn:hover {
    background-color: #2d2aea54;
    color: white;
    box-shadow:
        2px 2px 20px -5px rgba(46,42,234,1);
}

.slider-style .swiper-wrapper {
    align-items: flex-end!important;
}

.slider-style .swiper-slide-prev img{
    width: 95%!important;
    transition: 0.4s;
}

.slider-style .swiper-slide-next img{
    width: 95%!important;
    transition: 0.4s;
}

.slider-style .swiper-slide-next {
    display: flex;
    justify-content: flex-start;
}

.swiper-slide-prev .slider-style-border {
    border: 4px solid #2E2AEA;
    width: 90%;
    height: 100%;
    position: absolute;
    top: -32px;
    right: -10px;
    z-index: -1;
}

.swiper-slide-next .slider-style-border {
    border: 4px solid #2E2AEA;
    width: 90%;
    height: 100%;
    position: absolute;
    top: -32px;
    right: 0;
    z-index: -1;
}


.slider-style-title {
    font-size: 36px;
    font-weight: bold;
    color: #151F51;
    margin: 0;
}

.slider-style .swiper {
    margin-top: 30px;
  width: 100%;
  box-shadow: none;
}

.slider-style .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.slider-style .swiper-slide img {
  display: block;
  width: 100%;
}