.swiper {
    width: 100%;
    height: auto;
    box-shadow: -15px 15px 37px -20px rgba(46,42,234,0.32);
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }